:root {
  --red:   #f77e82;
  --green: #08817d;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 0px;
}

table {width: 100%; }

table, tr, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

thead td {
  font-weight: bold;
  padding: .15em 1em;
  text-align: center;
  text-transform: uppercase;
}

tr.debit { background-color: var(--red); }

tr.credit { background-color: var(--green); color: #fff; }

td { padding: .15em 1em; }

h1 {  }

.vault h2, h3, h4 { margin: 0; }

.vault h3, h4 { font-style: italic; }

.vault { margin: 0 0 1em; }